{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
    <h1>Commentaires</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentaire.id }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ commentaire.commentaire }}</td>
            </tr>
            <tr>
                <th>CreateAt</th>
                <td>{{ commentaire.createAt ? commentaire.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ commentaire.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commentaires_index') }}">back to list</a>

    <a href="{{ path('app_commentaires_edit', {'id': commentaire.id}) }}">edit</a>
    {{form(form)}}

{% endblock %}
