{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
    <h1>Commentaires</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Utilisateur</th>
                <td>{{ commentaire.id }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ commentaire.commentaire }}</td>
            </tr>
            <tr>
                <th>Créer à</th>
                <td>{{ commentaire.createAt ? commentaire.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ commentaire.note }}</td>
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('app_commentaires_index') }}">Retour à la liste</a>

    <a href="{{ path('app_commentaires_edit', {'id': commentaire.id}) }}">Créer</a>

{% endblock %}
