{% extends 'base.html.twig' %}

{% block title %}Conjoints index{% endblock %}

{% block body %}
    <h1>Conjoints dans ton quartier</h1>

        {% for conjoint in conjoints %}
            
                <div><strong>Pseudo : </strong>{{ conjoint.pseudo }}</div>
                <div><strong>Note : </strong></div>
                <div><img src=" {{ asset('uploads/' ~ conjoint.img) }} " alt=""></div>
                <div><strong>Age : </strong>{{ conjoint.age }} ans</div>
                <div><strong>Genre : </strong>{{ conjoint.sexe }}</div>
                <div><strong>Catégorie : </strong>{{ conjoint.categorie }}</div>
                <div>
                    <a href="{{ path('app_conjoints_show', {'id': conjoint.id}) }}"><button>Voir le produit</button></a>
                </div>
    
        {% else %}
            
                <td colspan="9">Aucun produits disponible</td>
            
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
