{% extends 'base.html.twig' %}

{% block title %}Conjoints{% endblock %}

{% block body %}
<h1>{{ conjoint.pseudo }}</h1>

<div><img src=" {{ asset('uploads/' ~ conjoint.img) }} " alt=""></div>

<div><strong>Age:</strong> {{ conjoint.age }}</div>
        
<div><strong>Categorie :</strong> {{ conjoint.categorie }}</div>
        
<div><strong>Sexe :</strong> {{ conjoint.sexe }}</div>
        
<div><strong>Style :</strong> {{ conjoint.style }}</div>
        
<div><strong>Description :</strong> {{ conjoint.description }}</div>
        
<div><button>Emprunter</button></div>


<a href="{{ path('app_conjoints_index') }}">Retour à la liste</a>

<a href="{{ path('app_conjoints_edit', {'id': conjoint.id}) }}">Modifier</a>

{{ include('conjoints/_delete_form.html.twig') }}

<h2>Commentaires</h2>
<div>
    {% for commentaire in conjoint.commentaires %}
        <strong>Utilisateur :</strong> {{commentaire.user.pseudo}}<br>
        <strong>Date de publication:</strong> {{ commentaire.createAt ? commentaire.createAt|date('Y-m-d H:i:s') : '' }}<br>
        <strong>Commentaire :</strong> {{commentaire.commentaire}}<br>
        <strong>Note :</strong> {{commentaire.note}}<br><br>
    
        {% endfor %}
</div>
{# {{form(form)}}
 #}
 {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
 {% endblock %}