<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <header>
        <nav>
            <nav>
    {% if app.user %}
    <div>
        <a href="{{ path('app_conjoints_new') }}"><button>Ajouter mon/ma conjoint(e)</button></a>
        <a href="{{ path('app_logout') }}"><button>Déconnexion</button></a>
    </div>
    <div>
        <a href="{{ path('app_user', {'id': app.user.id}) }}"><button>Mon profil</button></a>
    </div>
    {% else %}
        <a href="{{ path('app_login') }}"><button>Connexion</button></a>
        <a href="{{ path('app_register') }}"><button>Inscription</button></a>
    {% endif %}
</nav>
        </nav>
    </header>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
